@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #6366f1 #f1f1f1;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6366f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a2c98;
}
